extends layout.pug

block content
  .jumbotron
    h1.display-3 Whoa there—
    p.lead.
      You seem to be guessing pretty darn fast!
    hr.my-4
    p.
      We limit attempts to one every 10 seconds to ensure nobody is bruteforcing.
      Take a short breath and #[a(href=`/amiright?p=${password}`) try again].
  