extends layout.pug

block content
  .jumbotron
    h1.display-3 Welcome #{user.username}!
    if started
      p.lead.
        To check if your password is correct, just go to
        #[code #{"https://omega-arg.appspot.com/amiright?p=[password]"}].
        Alternatively, use the form above to enter a password.
      hr.my-4
      p To begin with Katthaj, the Excited Member's puzzle,&nbsp;
        a(href="//storage.googleapis.com/omega-arg/static/maybe-this-is-music.mp3") click here.
    else
      p.lead The ARG will open at 8:00pm EST. That's #{countdown}.
  .content
    if started
      h2 The Omega Members
      table.table
        thead
          tr
            th(scope="col") Member
            th(scope="col") Gate
        tbody
          each gate in gates
            if gate.id === 21
              audio(autoplay, loop, src='//storage.googleapis.com/omega-arg/static/not-a-clue-just-vsauce-music-lol.mp3', type='audio/mpeg')
            if gate.solved === 'SOLVED'
              tr.table-active
                td #{gate.author}, the #{gate.title} Member
                td.
                  #[a(href=`/amiright?p=${encodeURIComponent(gate.password)}`) SOLVED]
                  in #{gate.timeTaken}
            else if gate.solved === 'OPEN'
              tr.table-primary
                td #{gate.author}, the #{gate.title} Member
                td OPEN
            else
              tr
                td #{gate.author}, the #{gate.title} Member
                td LOCKED
