<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    link(rel="stylesheet", crossorigin="anonymous",
      href="https://bootswatch.com/4/darkly/bootstrap.min.css")
    link(rel="stylesheet", href="/style.css")
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', crossorigin='anonymous',
      integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js', crossorigin='anonymous',
      integrity='sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js', crossorigin='anonymous',
      integrity='sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k')
    script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-62516506-9")
    script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
    script.
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-62516506-9');

      
      (adsbygoogle = window.adsbygoogle || []).push({
            google_ad_client: "ca-pub-4770009561063252",
            enable_page_level_ads: true
      });

      function checkPassword(e) {
        e.preventDefault();
        location.replace(`/amiright?p=${encodeURIComponent($('#password').val())}`);
        return false;
      }
    title Omega ARG
  body
    block header
      nav.navbar.navbar-expand-lg.navbar-light.bg-light
        a.navbar-brand(href='/') &Omega;
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbar')
          span.navbar-toggler-icon
        #navbar.collapse.navbar-collapse
          ul.navbar-nav.mr-auto
            li.nav-item
              a.nav-link(href='/') Home
            li.nav-item
              a.nav-link(href='/leaderboard') Leaderboard
          form.form-inline.my-2.my-lg-0(onsubmit="return checkPassword(event)")
            input#password.form-control.mr-sm-2(type='text', placeholder='Password', autofocus)
            button.btn.btn-primary.my-2.my-sm-0(type='submit') Go!
    .container.mt-4
      block content
    block footer
