extends layout.pug

block content
  .jumbotron
    h1.display-3 Leaderboard
    p.lead.
      Complete the ARG to be automagically added to the leaderboard.
      Good luck!
    hr.my-4
    p Note: If you haven't been added, it's because you haven't finished the ARG yet.
  .content
    h2 Winners!
    table.table
      thead
        tr
          th(scope="col") #
          th(scope="col") Discord
          th(scope="col") Time
          th(scope="col") Prize
      tbody
        each entry, num in leaderboard
          tr
            td #{num + 1}
            td #{entry ? `${entry.user.username}#${entry.user.discriminator}` : '...spot still open!'}
            td #{entry ? entry.time : ''}
            td #{prizes[num] ? prizes[num] : ''}
