extends layout.pug

block content
  .jumbotron
    h1.display-3 Congrats #{user.username}!
    p.lead.
      You have successfuly passed #{gate.author}, the #[strong #{gate.title}] Member!
    hr.my-4
    if gate.id < 20
      if next.file
        p The next gate is now unlocked:&nbsp;
          a(href=`//storage.googleapis.com/omega-arg/static/${next.file}`) #{next.author}, the #{next.title} Member
      else
        p Oops, #{next.author} hasn't finished their gate yet. Go ping them and tell em to hurry up.
    else if gate.id === 20
      p Well. You think you've got all of us?&nbsp;
        a(href='//storage.googleapis.com/omega-arg/static/omega@35.245.103.184') Think again.
      audio(autoplay, loop, src='//storage.googleapis.com/omega-arg/static/not-a-clue-just-vsauce-music-lol.mp3', type='audio/mpeg')
    else
      p That's all we've got for today! Your name will be added to the leaderboard. Happy hunting!